@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
</div>


<style>
	.container {
		display: flex;
		justify-content: space-between; 
		align-items: center; 
		width: 60%; 
		margin: 0 auto;
	}

	.dropdown-label {
		flex-grow: 1;
		text-align: center;
	}

	.dropdown-label.left {
		text-align: left;
	}

	.dropdown-label.right {
		text-align: right;
	}

</style>

<div class="container">
	<div class="dropdown-label left">
		<label for="dropdown1">Category:</label>
		<select id="dropdown1">
			<option value="op1">Opção 1</option>
			<option value="op2">Opção 2</option>
			<option value="op3">Opção 3</option>
		</select>
	</div>

	<div class="dropdown-label center">
		<label for="dropdown2">Product:</label>
		<select id="dropdown2">
			<option value="op1">Opção 1</option>
			<option value="op2">Opção 2</option>
			<option value="op3">Opção 3</option>
		</select>
	</div>

	<div class="dropdown-label right">
		<label for="dropdown3">Brand:</label>
		<select id="dropdown3">
			<option value="op1">Opção 1</option>
			<option value="op2">Opção 2</option>
			<option value="op3">Opção 3</option>
		</select>
	</div>
</div>

<script>
	window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		theme: "light2",
		title:{
			text: "Sales By Month for"
		},
		axisX: {
			valueFormatString: "MMM" 
		},
		data: [{
			type: "line",
			indexLabelFontSize: 16,
			dataPoints: [
				{ y: 50, label: "Janeiro"},
				{ y: 500, label: "Fevereiro"},
				{ y: 300, label: "Março"},// indexLabel: "\u2191 300",markerColor: "red", markerType: "triangle" },
				{ y: 25, label:"Abril" }
			]
		}]
	});
	chart.render();

	}
</script>

<div id="chartContainer" style="height: 370px; width: 60%; margin: 0 auto;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
