@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
</div>


<style>
	.container {
		display: flex;
		justify-content: space-between; 
		align-items: center; 
		width: 60%; 
		margin: 0 auto;
	}

	.dropdown-label {
		flex-grow: 1;
		text-align: center;
	}

	.dropdown-label.left {
		text-align: left;
	}

	.dropdown-label.right {
		text-align: right;
	}

</style>

<br />
<br />

<div class="container">
	<div class="dropdown-label left">
		<label for="dropdown1">Category:</label>
		<select id="dropdown1">
			<option value="">-- Select one category --</option>
			<option value="op1">Food</option>
			<option value="op2">Drinks</option>
		</select>
	</div>

	<div class="dropdown-label center">
		<label for="dropdown2">Product:</label>
		<select id="dropdown2">
			<option value="">-- Select one product --</option>
			<option value="op1">Fruit</option>
			<option value="op2">Vegetable</option>
			<option value="op3">Cold Drinks</option>
			<option value="op4">Hot Drinks</option>
		</select>
	</div>

	<div class="dropdown-label right">
		<label for="dropdown3">Brand:</label>
		<select id="dropdown3">
			<option value="">-- Select one brand --</option>
			<option value="op1">Fruit 1</option>
			<option value="op2">Fruit 2</option>
			<option value="op3">Fruit 3</option>
			<option value="op4">Vegetable 1</option>
			<option value="op5">Vegetable 2</option>
			<option value="op6">Vegetable 3</option>
			<option value="op7">Cold Drink 1</option>
			<option value="op8">Cold Drink 2</option>
			<option value="op9">Cold Drink 3</option>
			<option value="op10">Hot Drink 1</option>
			<option value="op11">Hot Drink 2</option>
			<option value="op12">Hot Drink 3</option>
		</select>
	</div>
</div>

<br/>
<br/>

<div id="chartContainer" style="height: 370px; width: 60%; margin: 0 auto;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>

	var chart;

	window.onload = function () {

			chart = new CanvasJS.Chart("chartContainer", {
			animationEnabled: true,
			theme: "light2",
			title: {
				text: "Sales By Month for Example"
			},
			axisX: {
				valueFormatString: "MMM"
			},
			data: [{
				type: "line",
				indexLabelFontSize: 16,
				dataPoints: [
					{ y: 50, label: "Janeiro" },
					{ y: 500, label: "Fevereiro" },
					{ y: 300, label: "Março" },
					{ y: 25, label: "Abril" }
				]
			}]
		});
		chart.render();

	}

	document.addEventListener('DOMContentLoaded', function () {
		hideDropdownOptions('dropdown2');
		hideDropdownOptions('dropdown3');
	});

	function hideDropdownOptions(dropdownId) {
		var dropdown = document.getElementById(dropdownId);
		for (var i = 1; i < dropdown.options.length; i++) { 
			dropdown.options[i].hidden = true;
		}
	}

	var categoryDropdown = document.getElementById('dropdown1');
	categoryDropdown.addEventListener('change', function () {
		updateProductOptions(categoryDropdown.value);
	});

	var productDropdown = document.getElementById('dropdown2');
	productDropdown.addEventListener('change', function () {
		updateBrandOptions(productDropdown.value);
	});

	var brandDropdown = document.getElementById('dropdown3');
	brandDropdown.addEventListener('change', function (){
		updateGraph(brandDropdown.value);
	});

	function updateProductOptions(categoryValue) {
		var productDropdown = document.getElementById('dropdown2');
		var brandDropdown = document.getElementById('dropdown3');

		for (var i = 1; i < productDropdown.options.length; i++) {
			productDropdown.options[i].hidden = true;
		}

		for(var i = 1; i < brandDropdown.options.length; i++) {
			brandDropdown.options[i].hidden = true;
		}

		productDropdown.value = '';
		brandDropdown.value = '';

		if (categoryValue === 'op1') { 		
			productDropdown.options[1].hidden = false; 
			productDropdown.options[2].hidden = false; 
		} else if (categoryValue === 'op2') { 
			productDropdown.options[3].hidden = false; 
			productDropdown.options[4].hidden = false; 
		}
	}

	function updateBrandOptions(productValue) {
		var brandDropdown = document.getElementById('dropdown3');

		for (var i = 1; i < brandDropdown.options.length; i++) {
			brandDropdown.options[i].hidden = true;
		}

		brandDropdown.value = '';

		if (productValue === 'op1') {
			brandDropdown.options[1].hidden = false; 
			brandDropdown.options[2].hidden = false;
			brandDropdown.options[3].hidden = false;
		} else if (productValue === 'op2') {
			brandDropdown.options[4].hidden = false; 
			brandDropdown.options[5].hidden = false; 
			brandDropdown.options[6].hidden = false;
		} else if (productValue === 'op3') {
			brandDropdown.options[7].hidden = false;
			brandDropdown.options[8].hidden = false;
			brandDropdown.options[9].hidden = false;
		} else if (productValue === 'op4') {
			brandDropdown.options[10].hidden = false;
			brandDropdown.options[11].hidden = false;
			brandDropdown.options[12].hidden = false;
		}
	}

	function updateGraph(brandValue){
		if (document.getElementById('dropdown1').value !== '' && document.getElementById('dropdown2').value !== '' &&
		brandValue !== ''){

			updateSalesGraph(getSelectedBrandText().replace(/ /g, ''));
		}
	}

	function getSelectedBrandText() {
		var dropdown = document.getElementById("dropdown3");
		var selectedOptionText = dropdown.options[dropdown.selectedIndex].text;
		return selectedOptionText;
	}

	function loadXMLDoc(filename, callback) {
		var xhttp = new XMLHttpRequest();
		xhttp.overrideMimeType("application/xml");
		xhttp.open("GET", filename, true);
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				callback(this.responseXML);
			}
		};
		xhttp.send();
	}

	loadXMLDoc("/Sales.xml", function (xmlData) {
		salesXML = xmlData;
		parser = new DOMParser();
		xmlDoc = parser.parseFromString(salesXML, "text/xml");
	});

	function getSalesDataByBrand(brandValue) {

		var meses = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var dataPoints = [];

		var valueDropdown1 = document.getElementById("dropdown1").options[document.getElementById("dropdown1").selectedIndex].text.replace(/ /g, '');
		var valueDropdown2 = document.getElementById("dropdown2").options[document.getElementById("dropdown2").selectedIndex].text.replace(/ /g, '');

		meses.forEach(mes => {
			var selector = 'SalesData > ' + valueDropdown1 + ' > ' + valueDropdown2 + ' > ' + brandValue + ' > ' + mes;
			var vendas = salesXML.querySelector(selector).getAttribute('sales');
			dataPoints.push({ y: parseInt(vendas), label: mes });
		});

		console.log(dataPoints);
		return dataPoints;
	}

	function updateSalesGraph(brandValue) {
		if (document.getElementById('dropdown1').value !== '' && document.getElementById('dropdown2').value !== '' &&
			brandValue !== '') {
			var dataPoints = getSalesDataByBrand(brandValue);

			chart.options.data[0].dataPoints = dataPoints;
			chart.options.title.text = "Vendas Por Mês para " + brandValue;
			chart.render();
		}
	}

</script>
